:root {
  --primary: #7b2cbf;
  --secondary: #240046;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.navigation {
  text-align: right;
  padding: 1.2rem;
}

.navLink {
  font-size: 1.3rem;
  padding: 1.2rem;
  text-decoration: none;
  font-weight: 600;
}

.habits-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.habits-single,
.habits-new {
  width: 25rem;
  background-color: aliceblue;
  box-shadow: 0 2px 5px rgb(169, 169, 169);
  margin: 2rem;
  padding: 2rem;
  border-radius: 5px;
}

.habits-new {
  margin: auto;
  margin-top: 2rem;
  background-color: var(--primary);
  color: #fff;
}

.popup-bg-blur {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1500;
}

.pop-up {
  width: max-content;
  height: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem 2rem;
  background-color: #fff;
  box-shadow: 0 1px 5px rgb(208, 208, 208);
  border-radius: 2px;
}

.popup-title {
  padding: 1rem;
}

button {
  padding: 0.5rem 1rem;
  margin: 1rem;
  font-size: 1rem;
  color: #fff;
  background-color: var(--primary);
  font-weight: 500;
  border-radius: 5px;
  border: none;
}

button:hover {
  background-color: var(--secondary);
}

button:active {
  background-color: var(--primary);
}

input,
select {
  padding: 0.5rem 1rem;
  margin: 1rem;
}
